@import url('https://fonts.googleapis.com/css?family=Heebo:400,700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;

    a {
        text-decoration: none;
        color: inherit
    }
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    header {
        position: absolute;
        top: 50px;
        right: 50px;
        text-align: right;
        line-height: 3em;
        font-size: 1em;

        a {
            font-style: italic
        }

        a:hover {
            color: white;
        }
    }
}